.product-list
    .product-list__h Ленивый шашлычник
    .product-list__header
        select.js-select
            option Сначала дешевые
            option Сначала дорогие
        
    +product-item(
        title='Шампуры-самокруты МВШ-5'
        url='product-mvsh.html'
        price='3500 ₽'
        desc='Компактный набор из пяти шампуров. Идеален для пикника в небольшой компании.'
        src='assets/img/products/mvsh5_1_sm.jpg'
        categories=['Шампуры-самокруты', 'Категория']
    )
    +product-item(
        title='Шампуры-самокруты МВШ-7'
        url='product-mvsh.html'
        price='4100 ₽'
        price_old='4400 ₽'
        desc='Набор из семи шампуров. Сочетает компактные размеры и возможность приготовить большую порцию шашлыка.'
        src='assets/img/products/mvsh7_1_sm.jpg'
        categories=['Шампуры-самокруты']
        badge={'class_name': '_sale', 'title': 'Скидка'}
    )
    +product-item(
        title='Шампуры-самокруты МВШ-5'
        url='product-mvsh.html'
        price='3500 ₽'
        desc='Компактный набор из пяти шампуров. Идеален для пикника в небольшой компании.'
        src='assets/img/products/mvsh5_1_sm.jpg'
        categories=['Шампуры-самокруты', 'Категория']
    )
    +product-item(
        title='Шампуры-самокруты МВШ-7'
        url='product-mvsh.html'
        price='4100 ₽'
        price_old='4400 ₽'
        desc='Набор из семи шампуров. Сочетает компактные размеры и возможность приготовить большую порцию шашлыка.'
        src='assets/img/products/mvsh7_1_sm.jpg'
        categories=['Шампуры-самокруты']
        badge={'class_name': '_sale', 'title': 'Скидка'}
    )
    +product-item(
        title='Шампуры-самокруты МВШ-5'
        url='product-mvsh.html'
        price='3500 ₽'
        desc='Компактный набор из пяти шампуров. Идеален для пикника в небольшой компании.'
        src='assets/img/products/mvsh5_1_sm.jpg'
        categories=['Шампуры-самокруты', 'Категория']
    )
    +product-item(
        title='Шампуры-самокруты МВШ-7'
        url='product-mvsh.html'
        price='4100 ₽'
        price_old='4400 ₽'
        desc='Набор из семи шампуров. Сочетает компактные размеры и возможность приготовить большую порцию шашлыка.'
        src='assets/img/products/mvsh7_1_sm.jpg'
        categories=['Шампуры-самокруты']
        badge={'class_name': '_sale', 'title': 'Скидка'}
    )