extends _includes/layout
include _includes/blocks/index/vendor-intro

block content
    
    .index
        .index__section

            +vendor-intro(
                title='Ленивый шашлычник'
                desc='При приготовлении шашлыка кому-то обязательно приходиться сидеть и контролировать, чтобы мясо не сгорело. Много времени и стараний уходит на вращение шампуров вручную. Механизм Вращения Шампуров сделает всю работу за вас — автоматически. И самое главное — он не даст сгореть мясу и ваши друзья будут всегда довольны вашим мастерством!'
                btnText='Отдыхай, а не крути!'
                url='/vendor.html'
                bg='assets/img/skewers'
            )
            .container
                .product-list._grid
                    .product-list__inner
                        +product-item(
                            title='Шампуры-самокруты МВШ-5'
                            price='3500 ₽'
                            desc='Компактный набор из пяти шампуров. Идеален для пикника в небольшой компании.'
                            src='assets/img/products/mvsh5_1_sm.jpg'
                            categories=['Шампуры-самокруты', 'Категория']
                        )
                        +product-item(
                            title='Уховарка'
                            price='3500 ₽'
                            desc='Уховарка предназначена для удобного приготовления вкусной ухи на природе. Ее необычная форма в виде конуса позволяет быстро нагреть воду за счет широкого дна и узкой горловины с плотно прилегающей крышкой. Такая форма не позволяет ухе быстро остыть, как это происходит в обычной кастрюле, а при переносе уховарки ее содержимое не разольется.'
                            src='assets/img/products/uhovarka_1_sm.jpg'
                            categories=['Аксессуары', 'Категория']
                        )
                        +product-item(
                            title='Шампуры-самокруты МВШ-5'
                            price='3500 ₽'
                            desc='Компактный набор из пяти шампуров. Идеален для пикника в небольшой компании.'
                            src='assets/img/products/mvsh5_1_sm.jpg'
                            categories=['Шампуры-самокруты', 'Категория']
                        )
                        +product-item(
                            title='Шампуры-самокруты МВШ-7'
                            price='4100 ₽'
                            price_old='4400 ₽'
                            desc='Набор из семи шампуров. Сочетает компактные размеры и возможность приготовить большую порцию шашлыка.'
                            src='assets/img/products/mvsh7_1_sm.jpg'
                            categories=['Шампуры-самокруты']
                            badge={'class_name': '_sale', 'title': 'Скидка'}
                        )
                    .product-list__btn
                        a.btn._secondary(href='catalog-nekruti.html')
                            span.btn__inner Все товары
                            | 
                            | &rarr;
                .article-list
                    .article-list__inner
                        +article-item(
                            title='Шашлык тоже бывает ленивым'
                            src='assets/img/articles/1_sm.jpg'
                            desc='Когда мы готовим мясо на костре, то, конечно же, рассчитываем при этом на две вещи: вкусно покушать и снискать славу самого крутого шашлычника. И обычно для этого мы готовы пожертвовать временем. Приличным его отрезком. Вместо того чтобы общаться, играть в подвижные игры, купаться, мы пыхтим над костром и без конца отвечаем на один и тот же вопрос «Ты скоро там?» Однако все можно сделать совершенно иначе. Легче. Быстрее. Более профессионально.'
                        )
                        +article-item(
                            title='Уха на костре – быстро и просто'
                            src='assets/img/articles/2_sm.jpg'
                            srcWebp='assets/img/articles/2_sm.webp'
                            desc='И рыболову, и туристу, и просто любителю пикников иногда хочется внести что-то новое в привычное меню на природе. И уховарка от «Ленивого шашлычника» может стать хорошим решением этой задачи. Ведь наваристый рыбный суп в этой посуде готовится быстро и просто, а вкус не отличается от шедевров, на которые уходит по полдня. Согласитесь, звучит заманчиво — всегда получать идеальный результат и не жертвовать драгоценными минутами общения. Но как это возможно?'
                        )
                        +article-item(
                            title='Блюда на мангале разных народов мира'
                            src='assets/img/articles/3_sm.jpg'
                            srcWebp='assets/img/articles/3_sm.webp'
                            desc='Намечается пикник? Конечно, в меню будет традиционный шашлык из любимого мяса. Конечно, несколько салатов и ассорти из овощей. Но что если хочется разнообразить привычный набор блюд чем-то новым? В решении этой задачи вам могут помочь кулинарные традиции разных народов мира. Предлагаем вам отправиться в гастрономическое путешествие и узнать, что же готовят в других странах, когда собираются у костра.'
                        )

        .index__section
            +vendor-intro(
                className='_garlic'
                title='Черный чеснок'
                desc='Черный чеснок — одновременно уникальная пищевая добавка и самостоятельное экзотическое блюдо с неповторимым вкусом и ароматом. Он содержит витамины, минералы, является одним из самых богатых источников антиоксидантов, поэтому эффективно повышает иммунитет, препятствует старению. Благодаря своим полезным свойствам он является важной составляющей диетического питания.'
                btnText='Давайте знакомиться!'
                url='/vendor.html'
                bg='assets/img/garlic'
            )
            .container
                .product-list._grid
                    .product-list__inner
                        +product-item(
                            title='Чёрный чеснок креманка (3 головки)'
                            price='1500 ₽'
                            desc='«Подарочная» упаковка. В креманке на подложке уложены 3 головки чёрного чеснока.'
                            src='assets/img/products/garlic1_1_sm.jpg'
                            categories=['Креманка']
                        )
                        +product-item(
                            title='Чёрный чеснок крафт пакет (1 головка)'
                            price='500 ₽'
                            desc='В крафтовом пакете упакована одна головка чёрного чеснока.'
                            src='assets/img/products/garlic2_1_sm.jpg'
                            categories=['Крафт-пакет']
                        )
                .article-list
                    .article-list__inner
                        +article-item(
                            title='История появления'
                            src='assets/img/articles/4_sm.jpg'
                            srcWebp='assets/img/articles/4_sm.webp'
                            desc='История появления черного чеснока связана с древними традициями Кореи и Таиланда, где он издавна почитается: его добавляют в самые различные блюда и энергетические напитки. В соответствии с даосскими верованиями, он продлевает жизнь. С недавних пор черный чеснок начал набирать популярность по всему миру, в первую очередь — в США и Европе.'
                        )
                        +article-item(
                            title='Как делают чёрный чеснок'
                            src='assets/img/articles/5_sm.jpg'
                            srcWebp='assets/img/articles/5_sm.webp'
                            desc='Чёрный чеснок — это обычный натуральный чеснок, ферментированный при определенной температуре и влажности. Для этого он на протяжении 50 дней находится в специальных условиях. В это время и происходит ферментация, с участием сахаров и аминокислот в его составе. В процессе созревания образуется меланоидин, который и обеспечивает продукту чёрный цвет: это то самое натуральное вещество, которое нам хорошо знакомо по тёмно-коричневому цвету корочки хлеба или хорошо прожаренного шашлыка.'
                        )
                        +article-item(
                            title='Польза и вкус'
                            src='assets/img/articles/6_sm.jpg'
                            srcWebp='assets/img/articles/6_sm.webp'
                            desc='После ферментации в чесноке значительно повышается содержание антиоксидантов и фруктозы. По данным исследований, в чёрном чесноке количество антиоксидантов в 2 раза больше, чем в белом, а его антиоксидантная способность (TEAC) составляет 38 мкмоль/г: для обычного чеснока это 13 мкмоль/г.'
                        )
                        
        .index__section
            +vendor-intro(
                className='_pastila'
                title='Волжская пастила'
                desc='Только фрукты, только ягоды, только овощи. В нашей продукции категорически исключены такие добавки, как – мука, желатин, крахмал, красители, подсластители, консерванты и пр.'
                btnText='Продукция для любителей натурального'
                url='/vendor.html'
                bg='assets/img/pastila'
            )
            .container
                .product-list._grid
                    .product-list__inner
                        +product-item(
                            title='Пастила облепиховая'
                            price='1500 ₽'
                            desc='Состав: облепиха, яблоко, мед (100 грамм).'
                            src='assets/img/products/pastila1_1_sm.jpg'
                            categories=['Коробка крафт']
                        )
                        +product-item(
                            title='Набор «Макси»'
                            price='2000 ₽'
                            desc='Пастила (микс) - 230 грамм, фрукты (микс) - 200 грамм'
                            src='assets/img/products/pastila2_1_sm.jpg'
                            categories=['Коробка крафт']
                        )
                        +product-item(
                            title='Фруктовый микс'
                            price='500 ₽'
                            desc='Состав: сушёные фрукты и ягоды (50 грамм).'
                            src='assets/img/products/pastila3_1_sm.jpg'
                            categories=['Крафт-пакет']
                        )
                        +product-item(
                            title='Пастила облепиховая'
                            price='1500 ₽'
                            desc='Состав: облепиха, яблоко, мед (100 грамм).'
                            src='assets/img/products/pastila1_1_sm.jpg'
                            categories=['Коробка крафт']
                        )
                    .product-list__btn
                        a.btn._secondary(href='catalog-pastila.html')
                            span.btn__inner Все натуральные продукты
                            | 
                            | &rarr;