extends _includes/layout
include _includes/blocks/index/vendor-intro
include _includes/blocks/index/vendor-slider__slide
include _includes/mixins/share

block content

    .index
        +vendor-intro(
            className='_garlic'
            title='Черный чеснок'
            desc='Черный чеснок — одновременно уникальная пищевая добавка и самостоятельное экзотическое блюдо с неповторимым вкусом и ароматом. Он содержит витамины, минералы, является одним из самых богатых источников антиоксидантов, поэтому эффективно повышает иммунитет, препятствует старению. Благодаря своим полезным свойствам он является важной составляющей диетического питания.'
            url='/vendor.html'
            bg='assets/img/garlic'
        )

        .container
            .index__block
                .index__rte
                    h3 История появления
                    p.
                        История появления черного чеснока связана с древними традициями Кореи и Таиланда,
                        где он издавна почитается: его добавляют в самые различные блюда и энергетические напитки.
                        В соответствии с даосскими верованиями, он продлевает жизнь. С недавних пор черный чеснок начал
                        набирать популярность по всему миру, в первую очередь — в США и Европе.
                    h3 Мы производители
                    p.
                        Компания «Волжская пастила» предлагает своим клиентам Чёрный чеснок собственного производства.
                        Путем проб и ошибок мы изучили особенности производства Чёрного чеснока и внедрили эту технологию на собственных площадках.
                        И теперь готовы познакомить любого желающего с «эликсиром молодости» — Чёрным чесноком.
                        Мы готовы предложить клиентам фасованный Чёрный чеснок: в креманке (3 головки), в крафт пакете (1 головка).
                        Для оптовых клиентов готовы предложить Чёрный чеснок «на вес» — от 1-го килограмма.

            .product-list._grid
                .product-list__inner
                    +product-item(
                        title='Чёрный чеснок креманка (3 головки)'
                        url='product-garlic.html'
                        price='1500 ₽'
                        desc='«Подарочная» упаковка. В креманке на подложке уложены 3 головки чёрного чеснока.'
                        src='assets/img/products/garlic1_1_sm.jpg'
                        categories=['Креманка']
                    )
                    +product-item(
                        title='Чёрный чеснок крафт пакет (1 головка)'
                        url='product-garlic.html'
                        price='500 ₽'
                        desc='В крафтовом пакете упакована одна головка чёрного чеснока.'
                        src='assets/img/products/garlic2_1_sm.jpg'
                        categories=['Крафт-пакет']
                    )
                    +product-item(
                        title='Чёрный чеснок креманка (3 головки)'
                        url='product-garlic.html'
                        price='1500 ₽'
                        desc='«Подарочная» упаковка. В креманке на подложке уложены 3 головки чёрного чеснока.'
                        src='assets/img/products/garlic1_1_sm.jpg'
                        categories=['Креманка']
                    )
                    +product-item(
                        title='Чёрный чеснок крафт пакет (1 головка)'
                        url='product-garlic.html'
                        price='500 ₽'
                        desc='В крафтовом пакете упакована одна головка чёрного чеснока.'
                        src='assets/img/products/garlic2_1_sm.jpg'
                        categories=['Крафт-пакет']
                    )
                .product-list__btn
                    a.btn._secondary(href='catalog.html')
                        span.btn__inner Все товары
                        |
                        | &rarr;

            .index__block
                h3 Хит гастрономии
                p.
                    Определенно, чёрный чеснок — новый хит актуальной гастрономии. И вот почему.
                    Он совсем не похож на чеснок обычный: никакой жгучести и резкого запаха.
                    Мягкие и слегка вязкие его зубчики по аромату напоминают диковинную приправу,
                    в которой слышится одновременно трюфель, копченость и карамель, а по вкусу — чернослив,
                    смешанный с фиником, тамариндом и бальзамическим уксусом.
                p.index__lead._img
                    img(src="assets/img/mvsh-schema-1.jpg" alt="alt text")
                    img(src="assets/img/mvsh-schema-2.jpg" alt="alt text")
                    img(src="assets/img/mvsh-schema-3.jpg" alt="alt text")
                    img(src="assets/img/mvsh-schema-4.jpg" alt="alt text")

            .index__block
                h3 Деликатес
                p.
                    Потребовалось время, чтобы увидеть истинное предназначение этого продукта —
                    соусы и пюре-маринады! Стоит намазать стейк перед жаркой пастой из чёрного чеснока,
                    как заурядная говядина приобретает глубину вкуса дорогого, хорошо выдержанного мяса.
                    Какие с черным чесноком получаются волшебные ребрышки, какая свинина барбекю — будто черная иберийская,
                    какая баранина и рыба на гриле, даже обычная вареная и слегка обжаренная картошка,
                    если смешать ее с айоли из черного чеснока, превращается в деликатес!

            .index__block
                .article-list
                    .article-list__inner
                        +article-item(
                            title='Как делают чёрный чеснок'
                            url='article.html'
                            src='assets/img/articles/5_sm.jpg'
                            srcWebp='assets/img/articles/5_sm.webp'
                            desc='Чёрный чеснок — это обычный натуральный чеснок, ферментированный при определенной температуре и влажности. Для этого он на протяжении 50 дней находится в специальных условиях. В это время и происходит ферментация, с участием сахаров и аминокислот в его составе. В процессе созревания образуется меланоидин, который и обеспечивает продукту чёрный цвет: это то самое натуральное вещество, которое нам хорошо знакомо по тёмно-коричневому цвету корочки хлеба или хорошо прожаренного шашлыка.'
                        )
                        +article-item(
                            title='Рецепты блюд с черным чесноком'
                            url='article.html'
                            src='assets/img/articles/7_sm.jpg'
                            desc='Чёрный чеснок будто бы  уже изначально предназначен для экспериментов. Его можно по праву назвать Волшебником гастрономии. Мясо, птица, рыба, овощи, мороженое, шоколад... везде Чёрный чеснок окажется кстати, открыв знакомые вкусы с иной стороны, добавив изыска и чувственности.'
                        )

            .index__block
                h3.index__h3 Расскажите друзьям
                +share

        .slider._vendor.js-vendor-slider
            +vendor-slider__slide(
                src='assets/img/photoset-1'
                href='assets/img/photoset-1'
            )
            +vendor-slider__slide(
                src='assets/img/photoset-2'
                href='assets/img/photoset-2'
            )
            +vendor-slider__slide(
                src='assets/img/photoset-3'
                href='assets/img/photoset-3'
            )
            +vendor-slider__slide(
                src='assets/img/photoset-4'
                href='assets/img/photoset-4'
            )
